@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #f7f1e4;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  font: inherit;
  color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #000000;
  opacity: 0.5;
}

button {
  cursor: pointer;
}

.bg-black {
  color: #ffffff !important;
}

button,
a {
  transition: all 0.3s ease;
}